{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Games {% endblock %}</h1>
    <div class="content">
        {% for game in games %}
        <div class="game">
            <img src="{{ game.image }}" alt="image">
            <b>
                <p class="name">{{ game.title }}</p>
            </b>
            <p>{{ game.price }}</p>
            <p>{{ game.release }}</p>
            <a href="/game/{{game.id}}">More</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}